@import 'src/appearence/breakpoints';

.docs-index {
  &__header {
    margin-bottom: var(--y-size-xs);
  }

  &__summary {
    margin-bottom: var(--y-size-s);
  }

  &__category {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: var(--y-size-xs);
    grid-row-gap: var(--y-size-s);

    //@include desktop-up {
    //  grid-template-columns: repeat(2, 1fr);
    //}

    div {
      //margin-bottom: var(--y-size-s);

      h4 {
        margin-bottom: var(--y-size-xs);
      }

      a {
        display: inline-block;
        margin: 0 0 var(--y-size-xs) var(--y-size-xxs);
      }
    }
  }
}
