[data-theme='dark'] {
  // Backgrounds
  --primary-background: var(--y-color-black-300);
  --footer-background: var(--y-color-white-300-alpha-05);

  // Texts
  --primary-text: var(--y-color-white-300);
  --primary-text-inverse: var(--y-color-black-300);
  --secondary-text: var(--y-color-grey-300);
  --secondary-text-inverse: var(--y-color-grey-700);

  // Buttons and links
  --all-text-icon-default: var(--y-color-green-100);
  --all-text-icon-hover: var(--y-color-green-100);
  --all-text-icon-focused: var(--y-color-green-000);
  --all-text-icon-pressed: var(--y-color-green-000);
  --all-text-icon-disabled: var(--y-color-grey-600);
  --all-background-default-state: transparent;
  --all-background-hover-state: var(--y-color-green-800);
  --all-background-focused-state: var(--y-color-green-700);
  --all-background-pressed-state: var(--y-color-green-600);
  --all-background-disabled-state: var(--y-color-grey-800);
  --filled-background-default-state: var(--y-color-green-600);
  --filled-text-icon-default: var(--y-color-white-300);
  --tonal-background-default-state: var(--y-color-green-900);
  --tonal-background-hover-state: var(--y-color-green-800);
  --tonal-background-focused-state: var(--y-color-green-700);
  --tonal-background-pressed-state: var(--y-color-green-600);
  --hairline-border-all: var(--y-color-green-100);
  --protected-background-default: var(--y-color-black-400);
  --protected-shadow: var(--y-color-grey-100-alpha-70);

}
