@import 'src/appearence/breakpoints';


.ml-footer {
  //height: 100px;
  background-color: var(--footer-background);
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--y-size-xs) 0;

  &__top {
    display: block;
    flex: 0 0 auto;

    @include desktop-up {
      display: flex;
    }
  }

  &__top-help {
    display: flex;
    width: 100%;
  }

  &__top-email {
    display: none;

    @include desktop-up {
      border-left: 1px solid var(--y-color-black-300-alpha-10);
      border-right: 1px solid var(--y-color-black-300-alpha-10);
      display: block;
      flex: 0 0 auto;
    }
  }

  &__top-phone {
    display: none;

    @include desktop-up {
      display: block;
      flex: 0 0 auto;
    }
  }

  &__foot-body {
    flex: 1 0 auto;
  }

  &__bottom {
    flex: 0 0 auto;
  }
}
