.doc-page {
  height: 100%;

  &__back-link {
    display: block;
    margin-bottom: var(--y-size-s);
  }

  &__doc-name {
    color: var(--brand-green);
    margin-bottom: var(--y-size-xs);
  }

  &__doc-summary {
    margin-bottom: var(--y-size-xs);
  }

  &__doc-detail-head {
    color: var(--secondary-text);
    margin-bottom: var(--y-size-xxs);
  }

  &__doc-details {
    color: var(--secondary-text);
    margin-bottom: var(--y-size-xs);
  }

  &__demohead {
    color: var(--secondary-text);
    font-weight: 300;
    margin-bottom: var(--y-size-xs);
  }
}
