.App {
  background-color: var(--primary-background);
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: background-color 500ms ease-in-out,
              color 500ms ease-in-out;

  &_header {
    background-color: var(--y-color-green-600);
    color: var(--y-color-white-300);
    display: block;
    flex: 0 0 auto;
  }

  &_main {
    color: var(--primary-text);
    flex: 1 1 auto;
    height: 100%;
    margin: 3rem;
  }

  &_demoBox {
    background-color: var(--primary-background);
    padding: 25px;

    h4 {
      color: var(--primary-text);
    }
  }

  &_footer {
    flex: 0 0 auto;
    height: 4rem;
  }

}
