@import 'appearence/breakpoints';


.app {
  background-color: var(--primary-background);
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: background-color 500ms ease-in-out,
              color 500ms ease-in-out;

  &__header {
    align-items: center;
    background-color: var(--y-color-green-600);
    color: var(--y-color-white-300);
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 1.5rem 2rem;

    @include breakpoint('tablet-landscape') {
      padding: 3rem 2rem;
    }
  }

  &__main {
    color: var(--primary-text);
    flex: 1 1 auto;
    height: 100%;
    margin: 3rem;
  }

  &__demo_box {
    background-color: var(--primary-background);
    padding: 25px;

    h4 {
      color: var(--primary-text);
    }
  }

  &__footer {
    flex: 0 0 auto;
    height: 4rem;
  }

}
