@import './appearence/reset';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import './appearence/colors';


:root {
  --something--something: 34ch;
}

html,
body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

#root {
  height: 100vh;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: var(--link-default);
  text-decoration: none;

  &:hover {
    color: var(--link-hover);
  }

  &:focus {
    color: var(--link-focused);
  }

  &:active {
    color: var(--link-pressed);
  }

  &:visited {
    //color: var(--link-default);
  }

  &:disabled {
    color: var(--link-disabled);
  }
}

html {
  --y-size-xxs: .5rem;
  --y-size-xs: 1rem;
  --y-size-s: 2rem;
  --y-size-m: 3rem;
  --y-size-l: 4rem;
  --y-size-xl: 5rem;
  --y-size-xxl: 7rem;
}
